<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1017426271687-0rhvm98ab86sjus7b44vs36c2qgke14p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1017426271687-0rhvm98ab86sjus7b44vs36c2qgke14p</string>
	<key>API_KEY</key>
	<string>AIzaSyCbLtFjaNMdh-AKcjuWOTSvLR3n6pvb3q8</string>
	<key>GCM_SENDER_ID</key>
	<string>1017426271687</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.midterm</string>
	<key>PROJECT_ID</key>
	<string>midterm-73d09</string>
	<key>STORAGE_BUCKET</key>
	<string>midterm-73d09.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1017426271687:ios:0fba348652944483c78de2</string>
</dict>
</plist>